.svg-map {
  width: 100%;
  height: auto;
  stroke: #666;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round; }
  .svg-map__location__select {
    fill: #5bdfe9;
    cursor: pointer; }
    .svg-map__location__select:focus, .svg-map__location__select:hover {
      fill: #6dd1d8;
      outline: 0; }
    .svg-map__location__select[aria-checked=true] {
      fill: #f4bc44; }
      